<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="QuantityLimit" value="1000"/>
    <add key="10" value="100"/>
    <add key="50" value="5"/>
    <add key="100" value="100"/>
    <add key="500" value="100"/>
    <add key="1000" value="50"/>
    <add key="2000" value="50"/>
    <add key="5000" value="50"/>
  </appSettings>
</configuration>